

.drop-element.drop-theme-arrows-bounce.drop-out-of-bounds {
  display: none; }

.drop-element .drop-target {
  display: block;
  padding: 20px;
  background: #cccccc; }


@media (max-width: 768px) {
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark .drop-content {
    padding: 20px; }
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark h1 {
    font-size: 30px;
    margin-bottom: 20px; }
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark h2 {
    font-size: 18px;
    margin-bottom: 25px; } }


    .showcase.hero .drop-target {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin: 0px;
      width: 1px;
      height: 1px;
      margin-bottom: 0px; }
      @media (max-width: 900px) {
        .showcase.hero .drop-target {
           } }
      @media (max-width: 567px) {
        .showcase.hero .drop-target h2 {
           } }



@media (min-width: 900px) {

  @media (min-width: 900px) {

    .example .example-inner {
      margin-bottom: 20px; }
      .example .example-inner .drop-content {
        display: none; }
      .example .example-inner .drop-target {
        cursor: pointer; }
      .example .example-inner .drop-target-example-drop-theme-arrows-bounce-dark {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        }
      .example .example-inner .drop-target-example-hover-card, .example .example-inner .drop-target-example-hover-card img {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        height: 50px;
        width: 50px; }
    .example .example-credit {
      opacity: 0.5; }
      .example .example-credit a {
        color: inherit; }
    @media (min-width: 900px) {
      .example {
        *zoom: 1; }
        .example:after {
          content: "";
          display: table;
          clear: both; }
        .example .example-info {
          float: left;
          width: 300px;
          text-align: left; }
          .example .example-info h2, .example .example-info h3 {
            text-align: left; }
          .example .example-info h2 {
            line-height: 1;
            margin-top: 0;
            margin-bottom: 10px; }
          .example .example-info h3 {
            color: #888888; }
        .example .example-inner {
          text-align: left; } }

.drop-theme-basic.drop-target-example-hover-card.drop-element {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0; }
  .drop-theme-basic.drop-target-example-hover-card.drop-element.drop-open {
    display: none; }
  .drop-theme-basic.drop-target-example-hover-card.drop-element.drop-open-transitionend {
    display: block; }
  .drop-theme-basic.drop-target-example-hover-card.drop-element.drop-after-open {
    opacity: 1; }
  .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    -moz-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    background: transparent;
    padding: 0;
    width: 400px;
    height: 246px; }
    .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-mask img, .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-image img {
      position: absolute;
      width: 400px;
      height: 246px; }
    .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-mask {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 14px;
      height: 7px;
      -webkit-mask-position: 0;
      -webkit-mask-repeat: no-repeat; }
      .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-mask img {
        left: -193px; }
    .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-image {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      position: absolute;
      overflow: hidden;
      width: 400px;
      height: 246px; }
      .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .hover-card-image:after {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0; }
    .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .avatar {
        position: absolute;
        left: 20px;
        bottom: 20px; }
        .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .avatar img {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border-radius: 4px;
          height: 100px;
          width: 100px;
          display: block; }
      .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .name, .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .title {
        position: absolute;
        color: white;
        line-height: 1; }
      .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .name {
        left: 138px;
        bottom: 44px;
        font-size: 27px; }
      .drop-theme-basic.drop-target-example-hover-card.drop-element .drop-content .drop-content-inner .title {
        left: 140px;
        bottom: 24px;
        font-size: 16px;
        font-weight: 100; }

@-webkit-keyframes up-and-down {
  0% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }

@-moz-keyframes up-and-down {
  0% {
    -moz-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -moz-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }

@-o-keyframes up-and-down {
  0% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }

@-o-keyframes up-and-down {
  0% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }

  50% {
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
